In [2]:
#pip install of citipy

In [3]:
#import the citipy module
from citipy import citipy

In [4]:
# use citipy.nearest_city(lat, lng).city_name  to find the nearest city name based on lat and lng coords

# + latitiude = north hemisphere / - latitude = southern hemisphere
# + longitude = east of prime meridian / - longitude = west of prime meridian

cityName = citipy.nearest_city(33.748, -84.387).city_name

print(cityName)

atlanta

In [5]:
# generate a list of lats and lons and then add those to a tuple
# import numpy
import numpy as np

In [6]:
# set the range of lats and longs for United States
latRange = (24, 50)
lngRange = (-125, 68)

In [7]:
# use np.random.uniform to generate a series of values in a range
lats = np.random.uniform(latRange[0], latRange[1], size=50)
lons = np.random.uniform(lngRange[0], lngRange[1], size=50)

# zip the lists of lats and lons into tuple
latLongs = zip(lats, lons)

In [8]:
# use nearest_city to identify a city near each set of coordinates
cityNames = []

for coords in latLongs:
    # try to get a city name
    cityName = citipy.nearest_city(coords[0], coords[1]).city_name
    
    # check to see if the city is unique, if so, add to the list
    if cityName not in cityNames:
        cityNames.append(cityName)
        
for c in cityNames:
    print(c)

saint austell
lagoa
bam
santa maria del oro
missoula
hamilton
gazli
acqui terme
lompoc
susanville
moses lake
doha
northport
sahrak
zhezkazgan
novoselitskoye
karistos
albertville
iglesias
elbistan
minot
kolimvari
san quintin
boyabat
virginia beach
ribeira grande
kemptville
etchoropo
esna
kazalinsk
jalu
gat
lamar
san buenaventura
great bend
schwabach
camacha
atikokan
nemours
montmagny
sabha
turayf
bismarck

In [13]:
import requests
import json
import pandas as pd

#open weather api key
api_key = "991827bd33ff68a275ba4f04ee1e4e98"

In [14]:
url = "http://api.openweathermap.org/data/2.5/weather?"
units = 'imperial'
# build the base query url
queryURL = f"{url}appid={api_key}&units={units}&q="

In [15]:
# build a dataframe of city names and current temperatures
temperatures = []

for city in cityNames:
    
    try:
        # create the new query string
        cityQuery = f"{queryURL}{city}"

        # call to requests and jsonify
        response = requests.get(cityQuery).json()

        # extract the current temperature
        temperatures.append(response['main']['temp'])
    
    except:
        # just in case the temperature was not reported
        pass
    
    
cityTempDF = pd.DataFrame(
    {
        "City Name": cityNames,
        "Temperatures": temperatures
    }
)

cityTempDF

          City Name  Temperatures
0             butte         45.48
1          rockland         32.13
2             price         33.06
3      elizabethton         57.52
4         brentwood         35.40
5           astoria         41.49
6         hollister         49.15
7         matamoros         89.11
8   baie-saint-paul         22.95
9            loreto         77.25
10    north augusta         67.42
11       miles city         31.17
12          newport         43.59
13          seymour         48.87
14          cocorit         71.94
15        blackfoot         29.46
16         altamont         29.59
17           tooele         32.90
18     rapid valley         42.12
19       livingston         40.89
20            paris         34.20
21         show low         41.02
22        nantucket         39.22
23        spearfish         32.29
24      panama city         79.77
25       susanville         30.16
26          jackson         38.55
27        morro bay         49.96
28         saucillo         78.71
29    bullhead city         62.24
30   thetford mines         19.35
31          beckley         50.32
32        marquette         26.37
33       deep river         28.15
34          vidalia         76.95
35        la grande         33.76
36    mountain home         34.32
37           lompoc         51.19
38         gillette         27.84
39        shawville         21.04
40    sioux lookout         19.47
41   mount pleasant         70.30
42          socorro         70.07
43   guerrero negro         59.77
44       isla vista         53.67
45      morgan city         73.53
46   chippewa falls         35.78
47    cockburn town         75.99
48          alamosa         33.78

In [17]:
import time

count = 0

while count < 5:
    time.sleep(1) # pauses the program for 1 second
    count += 1
    print(f"Printed after {count} seconds")

Printed after 1 seconds
Printed after 2 seconds
Printed after 3 seconds
Printed after 4 seconds
Printed after 5 seconds